.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
    font-weight: 400;

}

p {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}

.counter .decrement {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
}

.counter .increment {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
}

.counter .decrement {
    background-color: #f24667;
}

.counter .increment {
    background-color: #49c78e;
}